<section class="login-form">
		<mat-card class="login-card">
			<mat-card-title fxLayout="column" fxLayoutAlign="center center">
				Login</mat-card-title>
			<mat-card-content>
				<form
					fxLayout="column"
					fxLayoutAlign="center center"
					fxLayoutGap="10px"
					[formGroup]="loginForm"
					(ngSubmit)="onSubmit()">
					<mat-form-field hintLabel="Please enter your email">
						<input
							type="email"
							matInput
							placeholder="Your Email"
							email required
							formControlName="email">
						<mat-error>Invalid or missing email address</mat-error>
					</mat-form-field>
					<mat-form-field hintLabel="Please enter your password">
						<input
							type="password"
							matInput
							placeholder="Your Password"
							required
							minlength="6"
							formControlName="password">
					</mat-form-field>
					<button
						*ngIf="!isLoading"
						type="submit"
						mat-raised-button
						color="primary"
						[disabled]="loginForm.invalid">
						Submit
					</button>
					<mat-spinner *ngIf="isLoading"></mat-spinner>
				</form>
			</mat-card-content>
		</mat-card>
	</section>
