<!-- <section class="signup-form">
	<mat-card class="register-card">
		<mat-card-title fxLayout="column" fxLayoutAlign="center center">
			Register</mat-card-title>
		<mat-card-content>
			<form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
				<mat-form-field>
					<input type="email" matInput placeholder="Your Email" ngModel name="email" email required #emailInput="ngModel">
					<mat-error *ngIf="emailInput.hasError('required')"></mat-error>
					<mat-error>You must input a valid email address</mat-error>
				</mat-form-field>
				<mat-form-field hintLabel="Should be at least 6 characters long">
					<input type="password" matInput placeholder="Your Password" ngModel name="password" required minlength="6" #pwInput="ngModel">
					<mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
					<mat-error>Must be at least 6 characters</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput placeholder="Your Date of Birth" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-checkbox ngModel name="accept" required color="primary">
					Accept Terms & Conditions</mat-checkbox>
				<button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
			</form>
		</mat-card-content>
	</mat-card>
</section> -->

<!-- TEST REGISTER CARD -->

<section class="signup-form">
	<mat-card class="register-card">
		<mat-card-title
			fxLayout="column" fxLayoutAlign="center center">
			<img src="./favicon.ico" alt="Logo" >
			Register
		</mat-card-title>
		<mat-card-content>
			<form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
				<mat-form-field>
					<input type="text" matInput placeholder="First Name">
				</mat-form-field>
				<mat-form-field>
					<input type="text" matInput placeholder="Last Name">
				</mat-form-field>
				<mat-form-field>
					<input type="email" matInput placeholder="Email" ngModel name="email" email required #emailInput="ngModel">
					<mat-error *ngIf="emailInput.hasError('required')"></mat-error>
					<mat-error>You must input a valid email address</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input type="password" matInput placeholder="Password" ngModel name="password" required minlength="6" #pwInput="ngModel">
					<mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
					<mat-error>Must be at least 6 characters</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input matInput placeholder="Date of Birth" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<a class="terms" href="/signup">View Terms & Conditions</a>
				<mat-checkbox ngModel name="accept" required color="primary">
					Accept Terms & Conditions</mat-checkbox>
				<button *ngIf="!(isLoading$ | async)"
					type="submit"
					mat-raised-button
					color="primary"
					[disabled]="f.invalid">
					CRETE ACCOUNT
				</button>
				<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
			</form>
		</mat-card-content>
	</mat-card>
</section>

