mat-form-field {
	width: 300px;
}

.register-card {
	font-family: 'Ranga';
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.terms {
	font-family: 'Oxygen';
	font-size: 12px;
	text-decoration: none;
	color: white;
}

.reg-icon {
	margin-left: auto;
	margin-right: auto;
}
